@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* Reset default */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: #15181a;
    font-family: 'Montserrat' sans-serif;
}

/* Start page */
.start--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  min-height: 100%;
  color: #11c973;

  & h1{
    font-size: 3rem;
    font-weight: bold;
  }

  & .start--btn{
    font-size: 1rem;
    margin-top: 1.5em;
    padding: .8em 1.5em;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #11c973;
    font-family: 'Montserrat' sans-serif;
    color: #fff;
    cursor: pointer;

    &:active{
      transform: scale(0.95);
    }
  }
}

.quiz--container{
  display: flex;
  flex-direction: column;
  align-items: center;

  & .checkAnswer--btn{
    font-size: 1rem;
    margin: 3em 0 3em 0;
    padding: 1em 2em;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #11c973;
    font-family: 'Montserrat' sans-serif;
    color: #fff;
    cursor: pointer;

    &:active{
      transform: scale(0.95);
    }
  }
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;

  & .form--card{
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 2px solid rgb(209, 201, 199);
    padding: 1rem;
    margin-top: 1rem;
  }

  & h2{
    font-size: 1.5rem;
    font-weight: bold;
    color:#11c973;
    max-width:600px;
  }

  /* hide radio iput to make labels like a btn*/
  & .radio-input {
    display: none;
  }

  & .radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .8rem 1.5rem;
    margin: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #15181a;
    font-family: 'Montserrat' sans-serif;
  }

  & .radio-input:checked + .radio-label {
    background-color: #c0c0c0;
  }
}









